<div>
  <div :if={!@current_user}>
    <.button
      class="submit_button px-5 py-2.5"
      phx-click={show_modal("login-form-modal")}
    >
      Employers / Post Job
    </.button>

    <.modal id="login-form-modal">
      <.form
        for={@form}
        phx-change="validate"
        phx-submit="save"
        phx-target={@myself}
        class="space-y-10 p-6 md:p-10"
        autocomplete="off"
      >
        <.input
          type="email"
          field={@form[:email]}
          label="Email:"
          placeholder="your@email.com"
        />
        <.button class="submit_button px-5 py-2.5">
          <.icon name="hero-paper-airplane" class="w-4 h-4 mr-2" /> Send Magic Link
        </.button>
      </.form>
    </.modal>
  </div>

  <div :if={@current_user} class="flex items-center leading-6">
    <p class="hidden px-4 font-medium text-orange-400 sm:inline md:text-lg">
      Hi: {@current_user.email}
    </p>
    <.link
      href={~p"/users/sessions/logout"}
      method="delete"
      class="submit_button px-5 py-2.5"
    >
      Logout
    </.link>
  </div>
</div>
