<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between py-3 text-sm border-b border-zinc-100">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/logo.svg"} class="hidden w-12 h-12 sm:inline" />
      </a>
    </div>
    <div class="flex items-center gap-4 text-lg font-medium text-white lg:ml-48">
      <.link navigate={~p"/"}>JOBS</.link>
      <.link :if={@current_user} navigate={~p"/my-job-listings"}>
        Edit Jobs
      </.link>
      <.link :if={@current_user} navigate={~p"/my-profile"}>
        My Profile
      </.link>
    </div>
    <.live_component
      id="login-form"
      module={DevJobsWeb.LoginLiveComponent}
      current_user={@current_user}
    />
  </div>
</header>
<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="max-w-2xl mx-auto text-sm">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
