<div class="container">
  <h1 class="text-2xl font-bold text-center text-white">My Profile</h1>
  <div class="flex justify-center text-xl leading-6 text-center text-white">
    <.simple_form for={%{}} phx-submit="save" phx-change="validate">
      <.live_file_input upload={@uploads.files} />
      <.button
        type="submit"
        class="px-4 py-2 text-xl font-bold text-white rounded-md bg-cyan-500 hover:bg-cyan-700"
      >
        Save
      </.button>
    </.simple_form>
  </div>

  <section class="flex items-center justify-center" phx-drop-target={@uploads.files.ref}>
    <%= for entry <- @uploads.files.entries do %>
      <article class="max-w-72">
        <figure>
          <.live_img_preview entry={entry} />
          <figcaption class="text-lg text-center text-white">
            <%= entry.client_name %>
          </figcaption>
        </figure>

        <div class="flex items-center justify-center">
          <progress value={entry.progress} max="100"><%= entry.progress %>%</progress>
          <button
            type="button"
            phx-click="cancel-upload"
            phx-value-ref={entry.ref}
            aria-label="cancel"
            class="font-bold text-white"
          >
            &times;
          </button>
        </div>

        <%= for err <- upload_errors(@uploads.files, entry) do %>
          <p class="alert alert-danger"><%= error_to_string(err) %></p>
        <% end %>
      </article>
    <% end %>

    <%= for err <- upload_errors(@uploads.files) do %>
      <p class="alert alert-danger"><%= error_to_string(err) %></p>
    <% end %>
    <div :if={@current_user.avatar} class="pt-4 text-white max-w-64">
      <img src={~p"/uploads/#{@current_user.avatar}"} alt="current-user-profile-avatar" />
      <p class="pt-2 text-center"><%= @current_user.email %></p>
    </div>
  </section>
</div>
